<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>goe-s</title>
    <link href="css/mapboxgl.css" rel="stylesheet">
    <link rel="stylesheet" href="css/elementUI.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/params.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="icon" href="./img/szu_icon.png" type="image/x-icon">

</head>
<body>

<div id="app">
    <div id="map"></div>
    <img src="./img/params/btn-popupOpen.png" alt="switch"
         @click="sideBarSwitch('params','dcpgsSwitch','paramsIn', 'paramsOut', 'paramSwitchIn', 'paramSwitchOut')"
         id="dcpgsSwitch" class="paramsSwitch paramSwitchIn">
    <div class="paramsIn" id="params">
        <div class="params"  v-if="switchStatus === 'DCPGS'">

            <h3 class="params_header">DCPGS</h3>

            <el-form :label-position="DCPGS.labelPosition" label-width="50px" :model="DCPGS" v-loading="mapLoading">
                <div class="param_adjuster" style="width: 100%">
                    <span class="item_label">cluster nums</span>
                    <div class="adjuster" @click="DCPGS.clusterNums = paramAdjust(DCPGS.clusterNums,false,DCPGS.maxClusterNums,0,1,0);updateClusterNums();" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.clusterNums" @change="updateClusterNums">
                    <div class="adjuster" @click="DCPGS.clusterNums = paramAdjust(DCPGS.clusterNums,true,DCPGS.maxClusterNums,0,1,0);updateClusterNums();">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <!--            暂时弃用-->
                <!--            <el-slider-->
                <!--                    v-model="DCPGS.clusterNums"-->
                <!--                    :min="1" :max="DCPGS.maxClusterNums"-->
                <!--                    @change="updateClusterNums">-->
                <!--            </el-slider>-->
                <!--            <br><br>-->
                <span class="item_label" style="padding-left: 15px">dataset</span>
                <br>
                <div class="left_gap"></div>
                <el-radio v-model="DCPGS.dataset" label="gowalla" @change="loadDSPGS('',-1)">gowalla</el-radio>
                <el-radio v-model="DCPGS.dataset" label="brightkite" style="margin-bottom: 5%" @change="loadDSPGS('',-1)">brightkite</el-radio>
                <br>
                <span class="item_label" style="padding-left: 15px">params</span>
                <br>
                <div class="param_adjuster">
                    <span class="item_label">&epsilon;</span>
                    <div class="adjuster" @click="DCPGS.params.epsilon = paramAdjust(DCPGS.params.epsilon,false,1.0,0,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.epsilon">
                    <div class="adjuster" @click="DCPGS.params.epsilon = paramAdjust(DCPGS.params.epsilon,true,1.0,0,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <div class="param_adjuster">
                    <span class="item_label">&nbsp;&nbsp;&nbsp;&ensp;&ensp;&omega;</span>
                    <div class="adjuster" @click="DCPGS.params.omega = paramAdjust(DCPGS.params.omega,false,1.0,0,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.omega">
                    <div class="adjuster" @click="DCPGS.params.omega = paramAdjust(DCPGS.params.omega,true,1.0,0,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="param_adjuster">
                    <span class="item_label">&tau;</span>
                    <div class="adjuster" @click="DCPGS.params.tau = paramAdjust(DCPGS.params.tau,false,1.0,0,0.1,2)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.tau">
                    <div class="adjuster" @click="DCPGS.params.tau = paramAdjust(DCPGS.params.tau,true,1.0,0,0.1,2)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <div class="param_adjuster">
                    <span class="item_label">maxD</span>
                    <div class="adjuster" @click="DCPGS.params.maxD = paramAdjust(DCPGS.params.maxD,false,300,10,10,0)" style="margin-left: 5px;">
                        <div class="icon-minus"></div>
                    </div>
                    <input class="param_input" type="text" v-model="DCPGS.params.maxD">
                    <div class="adjuster" @click="DCPGS.params.maxD = paramAdjust(DCPGS.params.maxD,true,300,10,10,0)">
                        <div class="icon-plus"></div>
                    </div>
                </div>
                <br><br>
                <div class="params_confirm">
                    <div class="confirm_button" @click="paramsSwitch('DCPGS_UPDATE')">
                        <span class="confirm_label">confirm</span>
                    </div>
                </div>
                <!--            <div style="text-align: center">-->
                <!--                <button class="confirm_button" @click="paramsSwitch('DCPGS_UPDATE')">confirm</button>-->
                <!--&lt;!&ndash;                <el-button round @click="paramsSwitch('DCPGS_UPDATE')" :loading="DCPGS.loading" >confirm</el-button>&ndash;&gt;-->
                <!--            </div>-->
            </el-form>
        </div>

        <div v-loading.lock="KSTC.loading"
             class="params" v-if="switchStatus === 'KSTC'">
            <h3 style="color: rgb(96, 98, 102)">k-stc params: </h3>
            <template><el-button id ="KSTCParamsCloser" size="small" plain @click="paramsSwitch('SWITCH')">close</el-button></template>
            <el-form :label-position="KSTC.labelPosition" label-width="50px" :model="KSTC">

                <el-form-item label="word">
                    <el-input v-model="KSTC.query.keywords" placeholder="以,分隔"></el-input>
                </el-form-item>

                <el-form-item label="epsilon">
                    <el-input-number v-model="KSTC.query.epsilon" :precision="1" :step="1" :min="1"></el-input-number>
                </el-form-item>

                <el-form-item label="k">
                    <el-input-number v-model="KSTC.query.k" :step="1" :min="1" :max="20" ></el-input-number>
                </el-form-item>

                <el-form-item label="minPts">
                    <el-input-number v-model="KSTC.query.minPts" :step="1" :min="2" :max="20" ></el-input-number>
                </el-form-item>
                <el-form-item label="maxDist">
                    <el-input-number v-model="KSTC.query.maxDist" :step="1" :min="-1" ></el-input-number>
                </el-form-item>
                <el-form-item label="lon">
                    <el-input-number v-model="KSTC.query.location.longitude" :precision="2" :step="0.1" :min="-180" :max="180" ></el-input-number>
                </el-form-item>
                <el-form-item label="lat">
                    <el-input-number v-model="KSTC.query.location.latitude" :precision="2" :step="0.1" :min="-90" :max="90" ></el-input-number>
                </el-form-item>
                <div style="text-align: center">
                    <el-button round @click="paramsSwitch('KSTC_UPDATE')">confirm</el-button>
                </div>
            </el-form>

        </div>

        <div class="params" v-if="switchStatus === 'spatial_skylines'">
            <h3 style="color: rgb(96, 98, 102)">spatial_skylines params: </h3>
            <el-form :label-position="spatial_skylines.labelPosition" label-width="130px" :model="spatial_skylines">
                <el-form-item label="params_1">
                    <el-input-number v-model="spatial_skylines.query.params_1" :precision="1" :step="1" :min="1" :max="100"></el-input-number>
                </el-form-item>
                <el-form-item label="params_2">
                    <el-input-number v-model="spatial_skylines.query.params_2" :step="1" :min="1" :max="20" ></el-input-number>
                </el-form-item>
                <el-form-item label="params_3">
                    <el-input-number v-model="spatial_skylines.query.params_3" :step="1" :min="2" :max="20" ></el-input-number>
                </el-form-item>
                <el-form-item label="params_4">
                    <el-input-number v-model="spatial_skylines.query.params_4" :precision="2" :step="0.1" :min="-180" :max="180" ></el-input-number>
                </el-form-item>
                <div style="text-align: center">
                    <el-button round @click="paramsSwitch('spatial_skylines_UPDATE')">confirm</el-button>
                </div>
            </el-form>
        </div>
    </div>

    <img src="./img/sidebar/btn-fold.png" alt="switch" @click="sideBarSwitch('sideBar','sideBarSwitch','sideIn','sideOut','switchIn','switchOut', null)" id="sideBarSwitch" class="switchOut" style="cursor: pointer">
    <!-- 侧边导航栏-->
    <el-row class="tac sideOut" id="sideBar" style="overflow:hidden;" >
        <el-col :span="12">
            <!--              <h3 style="text-align: center">Menu</h3>-->

            <el-menu
                    class="el-menu-vertical-demo"
                    default-active="1-1-1"
                    unique-opened
                    v-loading="mapLoading"
            >
                <el-submenu index="1">
                    <template slot="title">
                        <span>Clustering</span>
                    </template>
                    <el-submenu index="1-1">
                        <template slot="title">Geo-social network</template>
                        <el-menu-item index="1-1-1" @click="loadDSPGS('StockholmSweden', 13)" >Stockholm Sweden</el-menu-item>
                        <el-menu-item index="1-1-2" @click="loadDSPGS('MalmoSweden', 13)" >Malmo Sweden</el-menu-item>
                        <el-menu-item index="1-1-3" @click="loadDSPGS('GothenburgSweden', 13)" >Gothenburg Sweden</el-menu-item>
                        <el-menu-item index="1-1-4" @click="loadDSPGS('AustinUS', 13)" >Austin US</el-menu-item>
                        <el-menu-item index="1-1-5" @click="loadDSPGS('LondonUK', 13)" >London UK</el-menu-item>
                        <el-menu-item index="1-1-6" @click="loadDSPGS('NewcastleUponTyneUk', 13.5)" >Newcastle Upon Tyne UK</el-menu-item>
                        <el-menu-item index="1-1-7" @click="loadDSPGS('OsloNorway', 13)" >Oslo Norway</el-menu-item>
                        <el-menu-item index="1-1-8" @click="loadDSPGS('ZurichSwitzerland', 13)" >Zurich Switzerland</el-menu-item>
                    </el-submenu>
                    <el-submenu index="1-2">
                        <template slot="title">Spatial textual clustering</template>
                        <el-menu-item index="1-2-3" @click="loadKStc('')">Simple KSTC</el-menu-item>

                    </el-submenu>
                    <el-submenu index="1-3">
                        <template slot="title">Textually spatial skylines</template>
                        <el-menu-item index="1-3-1"  @click="paramsSwitch('spatial_skylines')">1-3-1</el-menu-item>
                    </el-submenu>

                    <el-submenu index="1-4">
                        <template slot="title">Mapbox test ground</template>
                        <el-menu-item index="1-4-1"  @click="loadTest()">1-4-1</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">
                        <span slot="title">Visualization</span>
                    </template>
                    <el-submenu index="2-1">
                        <template slot="title">KDV</template>
                        <el-menu-item index="2-1-1" @click="loadKDV">kdv</el-menu-item>
                    </el-submenu>

                    <el-submenu index="2-2">
                        <template slot="title">Temporal KDV</template>
                        <el-menu-item index="2-2-1">2-2-1</el-menu-item>
                    </el-submenu>

                    <el-submenu index="2-3">
                        <template slot="title">Line KDV</template>
                        <el-menu-item index="2-3-1">2-3-1</el-menu-item>
                    </el-submenu>
                </el-submenu>
            </el-menu>
        </el-col>
    </el-row>
    <!--顶部导航栏-->
    <div id="header">
        <img class="header-image" id="top-image" src="./img/bg_top.png"/>
        <img class="header-title" id="title-image" src="./img/STARS.png"/>
        <div class="subheader">
            <div class="title1">
                <div class="ename">Spatial-Temporal Analytics with Rapid System</div>
            </div>
            <div class="title2">
                <div id="school">
                    <span class="cname">深圳大学</span>
                </div>
                <div id="college">
                    <span class="cname">深圳大学计算机与软件学院</span>
                </div>
                <div id="lab">
                    <span class="cname">大数据与应用数据研究所</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/kdv/kdvCpp.js"></script>
<script src="js/environment/d3.js"></script>
<script src="js/environment/vue.js"></script>
<script src="js/environment/elementUI.js"></script>
<script src="js/environment/mapboxgl.js"></script>
<script src="js/environment/axios.js"></script>
<script type="module" src="js/app.js"></script>
</html>
