#header{
    position:absolute;
    background-color: rgba(255,255,255,0.6);
    z-index:999;
    width:100%;
    height: 10%;
    margin:left 50px;
}


#header-img1{
    position: absolute;
    width:205px;
    top: 7.5%;
    height:85%;
    right: 31.5%;
}

#header-img2{
    position:absolute;
    width:70px;
    height:70px;
    right:25%;
    top:5%;
}

#header-img3{
    position:absolute;
    width:136px;
    height:85%;
    right: 15%;
    top:7.5%;
}

#lang{
    position:absolute;
    font-size:20px;
    right: 7.5%;
    top:8px;
}