#header{
    position:fixed;
    background-color: rgba(255,255,255,0.6);
    z-index:999;
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.subheader{
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 17px;
}

.header_image{
    height: 60px;
    margin-right: 10px;
}

#lang{
    font-size:20px;
    margin-top: 40px;
    margin-right: 20px;
}

.name{
    font: 400 23px/1.5 "Microsoft YaHei", Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    font-weight: 700;
    letter-spacing: 3px;
    word-break: keep-all;
}

.ename{
    font: 400 13px/1.5 "Microsoft YaHei",Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    transform-origin: left;
}