body {
    margin: 0;
    font-family: sans-serif;
    overflow:hidden;
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    height: 100%;
}
#app{
    margin: 0;
    width: 100%;
    height: 100%;
}
#map{
    margin: 0;
    /*left: 15%;*/
    /*width: 85%;*/
    width: 100%;
    height: 100%;
    position: absolute;
}
.tac{
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    z-index: 1000;
    width: 250px;
    height: 90%;
    top: 100px;
}

.sideOut{
    animation: sideBarOut 0.3s forwards;
}

.sideIn{
    animation: sideBarIn 0.3s forwards;
}

.switchOut{
    animation: sideBarSwitchOut 0.3s forwards;
}

.switchIn{
    animation: sideBarSwitchIn 0.3s forwards;
}

@keyframes sideBarOut {
    0% { left: 0; }
    25% {left: -62.5px}
    50% { left: -125px; }
    75% { left: -187.5px; }
    100% { left: -250px; }
}

@keyframes sideBarIn {
    0% { left: -250px; }
    25% {left: -187.5px}
    50% { left: -125px; }
    75% { left: -62.5px; }
    100% { left: 0; }
}

@keyframes sideBarSwitchOut {
    0% { left: 250px; }
    25% {left: 187px;}
    50% { left: 125px; }
    75% { left: 62px; }
    100% { left: 0; }
}

@keyframes sideBarSwitchIn {
    0% { left: 0; }
    25% {left: 62px;}
    50% { left: 125px; }
    75% { left: 187px; }
    100% { left: 250px; }
}

.el-col-12{
    width: 100%;
}

#sideBarSwitch{
    position: absolute;
    top: 50%;
    left: 250px;
    width: 5px;
    text-align: left;
    padding-left: 7px;
    line-height: 3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#DCPGSParamsCloser, #KSTCParamsCloser,#spatial_skylinesParamsCloser{
    position: absolute;
    top: 3%;
    right: 5%;
    color: rgb(96, 98, 102);
}

.malert{
    width: 100%;
    height: 100%;
}