.params{
    /*border-radius: 3px;*/
    background-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popup.png);
    position: absolute;
    /*right: 0;*/
    /*bottom: 5%;*/
    width: 298px;
    height: 357px;
    /*z-index: 9999;*/
}

#params{
    background-color: rgba(255,255,255,0.0);
    /*z-index: 9999;*/
    position: absolute;
    right: 0;
    bottom: 15%;
    width: 298px;
    height: 357px;
}

.left_gap{
    width: 8px;
    height: 5px;
    display: inline-block;
}

.paramsSwitch{
    cursor: pointer;
    position: absolute;
    right: 298px;
    bottom: 23%;
    z-index: 9999;
}

.paramsIn{
    animation: ani_paramsIn 0.3s forwards;
}

.paramsOut{
    animation: ani_paramsOut 0.3s forwards;
}

.paramSwitchIn{
    animation: ani_paramSwitchIn 0.3s forwards;
}

.paramSwitchOut{
    animation: ani_paramSwitchOut 0.3s forwards;
}

@keyframes ani_paramsIn {
    0% { right: 0;}
    25% {right: -74px}
    50% { right: -149px; }
    75% { right: -224px; }
    100% { right: -298px; }
}

@keyframes ani_paramsOut {
    0% { right: -298px; }
    25% {right: -224px}
    50% { right: -149px; }
    75% { right: -74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchIn {
    0% { right: 298px; }
    25% {right: 224px;}
    50% { right: 149px; }
    75% { right: 74px; }
    100% { right: 0; }
}

@keyframes ani_paramSwitchOut {
    0% {right: 0; }
    25% {right: 74px;}
    50% {right: 149px; }
    75% {right: 224px; }
    100% {right: 298px; }
}

.el-form-item__label{
    color: #00FFFF;
}

.item_label{
    font-size: 15px;
    color: #00FFFF;
}

.params_header{
    color: #00FFFF;
    margin-top: 30px;
    margin-left: 15px;
}

/*未选中的radio*/
.el-radio__input .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/bg_popupNormal.png);
    background-repeat: no-repeat;
}

/*选中的radio*/
.el-radio__input.is-checked .el-radio__inner{
    width: 23px;
    height: 23px;
    line-height: 23px;
    color: rgba(255,255,255,0.0);
    background-color: rgba(255,255,255,0.0);
    border-color: rgba(255,255,255,0.0);
    background-image: url(../img/params/btn_popupClick.png);
    background-repeat: no-repeat;
}

.el-radio__input.is-checked+.el-radio__label{
    font-weight: bold;
    color: #00FFFF;
}

.el-radio__label{
    color: #00FFFF;
}

.param_adjuster{
    width: 120px;
    height: 23px;
    margin-left: 15px;
    display: inline-block;
}

.adjuster{
    height: 23px;
    width: 12px;
    display: inline-block;
    cursor: pointer;
}

.param_input{
    width: 35px;
    height: 18px;
    padding: 0;
    background-color: rgba(255,255,255,0.0);
    border: 0;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    color: #00FFFF;
    line-height: 15px;
    background-image: url(../img/params/bg_popupNumber.png);
}

/*减号*/
.icon-minus{
    width: 10px;
    height: 2px;
    line-height: 23px;
    display: inline-flex;
    margin-bottom: 5px;
    background-image: url(../img/params/btn_-.png);
}

/*加号*/
.icon-plus{
    width: 10px;
    height: 10px;
    line-height: 23px;
    display: inline-flex;
    margin-bottom: 1px;
    margin-right: 10px;
    cursor: pointer;
    background-image: url(../img/params/btn_+.png);
}

.confirm_button{
    width: 152px;
    height: 37px;
    background-image: url("../img/params/bg_confirmClick.png");
    text-align: center;
    display: inline-block;
}

.params_confirm{
    width: 100%;
    height: 37px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 7%;
}

.confirm_label{
    font-size: 15px;
    color: #00FFFF;
    line-height: 40px;
    font-weight: bold;
}

/*滑块部分 暂时弃用*/
/*.el-slider{*/
/*    width: 60%;*/
/*    background-image: url(../img/params/bg_popupProcess.png);*/
/*    text-align: center;*/
/*}*/

/*.el-slider__runway{*/
/*    width: 85%;*/
/*    height: 6px;*/
/*    margin: 16px 0;*/
/*    background-color: #E4E7ED;*/
/*    border-radius: 3px;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    vertical-align: middle;*/
/*}*/

/*.el-slider__button{*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    border: 2px solid rgb(255, 179, 84);*/
/*    background-color: rgba(255, 180, 88, 1);*/
/*    !*background-image: url(../img/params/btn_popupClick.png);*!*/
/*    border-radius: 50%;*/
/*    -webkit-transition: .2s;*/
/*    transition: .2s;*/
/*    -webkit-user-select: none;*/
/*    user-select: none;*/
/*    display: none;*/
/*}*/
/*.el-slider__bar{*/
/*    height: 6px;*/
/*    background-color: rgba(255, 180, 88, 1);*/
/*    border-top-left-radius: 3px;*/
/*    border-bottom-left-radius: 3px;*/
/*    position: absolute;*/
/*}*/

/*.el-slider__runway{*/
/*    width: 85%;*/
/*    height: 6px;*/
/*    margin: 16px 0;*/
/*    background-color: rgba(132, 144, 143, 0.30);*/
/*    border-radius: 3px;*/
/*    position: relative;*/
/*    cursor: pointer;*/
/*    vertical-align: middle;*/
/*}*/

/*.el-slider__button-wrapper{*/
/*    display: none;*/
/*    text-align: center;*/
/*}*/
